.news-list, .news-detail {
    margin-bottom:25px;
    padding: 5px;
    border: 1px solid #eee;
    background-color: white;
}

.news-title, .new-info, .news-content, .news-brief {
    padding: 21px 0px 10px 28px
}

img{
    display: block;
    max-width: 100%;
    /*以区域块的形式显示，最大宽度不能超过父级元素的大小*/
    transition: all 0.5s ease-in-out;
}
/*左侧导航栏*/
 
 
.news-list-item{
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

/* .news-list-item:first-child{
    padding-top: 0px;
    padding-bottom: 17px;
} */
/*除第一条上边距不需要边距，父亲孩子选择器*/
 
.news-list-item .title{
    display: block;
    /*后面的内容才会在内容上继承下来样式*/
    color: #444;
    /*颜色#000黑色，#999白色*/
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
}
.news-list-item .title:hover{
    color: #23527c;
}
 
.news-list-item .info{
    color:#adadad;
}

.author{display: inline-block;}
a:hover{text-decoration: none;/*链接样式去掉*/}


.news-title{
    line-height: 1.2;
    font-size: 28px;
    font-weight: bold;
}
.new-info .label{opacity: 0.6;/*设置不透明度*/}
.news-content{
    margin-top: 10px;
    font-size: 15px;
}
.news-content img{
    width: 450px;
    height: 250px;
   margin: 10px auto;
}
.clear-image-padding{
    padding-left: 0px;
    padding-right: 0px;
    /*这里添加的图片，继承了父元素的padding属性，重复了*/
}

.info span {
    padding-right: 7px;
}

