body {
    background-color: #f6f6f6;
}

img{
    display: block;
    max-width: 100%;
    /*以区域块的形式显示，最大宽度不能超过父级元素的大小*/
    transition: all 0.5s ease-in-out;
}

 
 
.news-list-item{
    /* padding-top: 12px;
    padding-bottom: 12px;
    border-bottom:1px solid #eee; */

    padding: 3px 0;
    /* border-bottom: 1px solid #eee; */
}

/*除第一条上边距不需要边距，父亲孩子选择器*/
 
.news-list-item .title{
    display: block;
    /*后面的内容才会在内容上继承下来样式*/
    color: #444;
    /*颜色#000黑色，#999白色*/
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
}
.news-list-item .title:hover{
    color: #23527c;
    /*通过浏览器选中标题后审查元素，得到本来默认的颜色*/
}
 
.news-list-item .info{
    color:#adadad;
    
}
.author{
    display: inline-block;
    
}
.author img{
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 5px;    
}
a:hover{
    text-decoration: none;
    /*链接样式去掉*/
}
 
 
.news-title{
    line-height: 1.2;
    font-size: 28px;
    font-weight: bold;
}
.new-info .label{
    opacity: 0.6;
    /*设置不透明度*/
}
.news-content{
    margin-top: 10px;
    font-size: 15px;
}
.news-content img{
    width: 450px;
    height: 250px;
   margin: 10px auto;
}
.clear-image-padding{
    padding-left: 0px;
    padding-right: 0px;
    /*这里添加的图片，继承了父元素的padding属性，重复了*/
}



.info span {
    padding-right: 7px;
}


.question{
    padding: 5px;
    border: 1px solid #eee;
    background-color: white;
}

.news-title, .question-desc, .new-info, .answer-info, .answer-conclusion, .answer-content {
    padding: 21px 0px 0px 28px
}

.answer-conclusion {
    padding: 0px 0px 0px 28px
}

.answer {
    margin-bottom:25px;
    padding: 5px;
    border: 1px solid #eee;
    background-color: white;
}