body {
	background-color: #f6f6f6;
}
	
a:hover{
 	text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}

p{
	margin:0;
}

ul{
	margin:0;
	padding:0;
}

label{
	margin:0;
}


/* 菜单 */
.navbar {
	background-color: white;
	margin: 0;
	padding: 10px 0px 10px 0px;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #D0104C;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.2em;
	font-weight:100; 
	padding: 1.2em 4.38em 1em 3.3em; 
}

nav a:hover, nav a:focus {
	outline: none;
}

.badge-danger {
	background-color: #D0104C;
}


/* 非home页的主格局 */
.main-content {
	margin-top: 15px;
}

.side {
	padding: 0px;
}
.side-bar {
	background-color: white;
	margin-left: 15px;
    border-bottom: 1px solid #eee;
}