<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>健康管理师问答</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />

    <link rel="stylesheet" type="text/css" href="/static/css/question.css">
</head>

<body>
    <!-- 菜单 -->
    {{template "no1jks/common/navi.html" .}}
    <!-- Modal1 -->
    <div class="modal fade" id="question" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="questionModalLabel">写下你的问题</h4>
                </div>
                <div class="modal-body">
                    <form class="layui-form" action="">
                        <!-- <div class="layui-form-item">
                                    <label class="layui-form-label">输入框</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                                            class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">密码框</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
                                            class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">辅助文字</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">选择框</label>
                                    <div class="layui-input-block">
                                        <select name="city" lay-verify="required">
                                            <option value=""></option>
                                            <option value="0">北京</option>
                                            <option value="1">上海</option>
                                            <option value="2">广州</option>
                                            <option value="3">深圳</option>
                                            <option value="4">杭州</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">复选框</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="like[write]" title="写作">
                                        <input type="checkbox" name="like[read]" title="阅读" checked>
                                        <input type="checkbox" name="like[dai]" title="发呆">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">开关</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="switch" lay-skin="switch">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">单选框</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="sex" value="男" title="男">
                                        <input type="radio" name="sex" value="女" title="女" checked>
                                    </div>
                                </div> -->
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <textarea name="title" placeholder="一句话描述问题" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">详细描述</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="详细描述问题" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <!-- <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">描述</label>
                            <div class="layui-input-block">
                                <textarea id="ask" style="display: none;"></textarea>
                            </div>
                        </div>
                        <script>
                            layui.use('layedit', function () {
                                var layedit = layui.layedit;
                                layedit.build('ask'); //建立编辑器
                            });
                        </script> -->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        //Demo
                        layui.use('form', function () {
                            var form = layui.form;
                            //监听提交
                            form.on('submit(formDemo)', function (data) {
                                console.log(JSON.stringify(data.field));
                                $.post('/question/create', data.field, (resp) => {
                                    console.log(resp);
                                    if (resp.Code === 4004) {
                                        layer.confirm('我们需要知道你是谁？', {
                                            btn: ['去登陆', '闲看'] //按钮
                                        },
                                            () => { window.location.href = '/user/login' },
                                            () => { }
                                        );
                                    }

                                    if (resp.Code === 200) {
                                        window.location.href = window.location.href;
                                    }
                                })
                                return false;
                            }, 'json');
                        });
                    </script>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal2 -->
    <!-- <div class="modal fade" id="blog" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="blogModalLabel">分享你的精彩</h4>
                </div>
                <div class="modal-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                                <label class="layui-form-label">输入框</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码框</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
                                        class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">辅助文字</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">选择框</label>
                                <div class="layui-input-block">
                                    <select name="city" lay-verify="required">
                                        <option value=""></option>
                                        <option value="0">北京</option>
                                        <option value="1">上海</option>
                                        <option value="2">广州</option>
                                        <option value="3">深圳</option>
                                        <option value="4">杭州</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">复选框</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="like[write]" title="写作">
                                    <input type="checkbox" name="like[read]" title="阅读" checked>
                                    <input type="checkbox" name="like[dai]" title="发呆">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">开关</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="switch" lay-skin="switch">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">单选框</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="男" title="男">
                                    <input type="radio" name="sex" value="女" title="女" checked>
                                </div>
                            </div> 
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="写个耀眼的标题" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">正文</label>
                            <div class="layui-input-block">
                                <textarea id="blogger" style="display: none;"></textarea>
                            </div>
                        </div>
                        <script>
                            layui.use('layedit', function () {
                                var layedit = layui.layedit;
                                layedit.build('blogger'); //建立编辑器
                            });
                        </script>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="blogForm">立即提交</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        //Demo
                        layui.use('form', function () {
                            var form = layui.form;
                            //监听提交
                            form.on('submit(blogForm)', function (data) {
                                layer.msg(JSON.stringify(data.field));
                                return false;
                            });
                        });
                    </script>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>-->

    <div class="container">
        <div class="row" style="background-color: white; padding: 5px;">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#question">
                    我有疑问
                </button>
            </div>
            <!-- 
            <div class="col-sm-12">
                <div class="content-header btn-group btn-group-justified" role="group"
                    style="background:rgba(0,0,0,0.05); border-radius: 10px;" data-container="body">

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#question">
                            我有疑问
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#blog">
                            我要分享
                        </button>
                    </div> 
                </div>
            </div> -->
        </div>
    </div>

    <div class="container">
        <div class="row main-content">
            <!--用来抵消，下面栅格的内部，跟标题保持一样的样式-->
            <div class="col-md-8">
                <div class="news-list">
                    {{ range $index, $question :=  .Questions.Questions }}
                    <div class="news-list-item clearfix">
                        <!--一定要清除浮动，不然排版不规范-->

                        <!-- Perfect when len(title) <= 40 -->
                        <div class="row question">
                            <div class="news-title">
                                <a href="/question/{{ $question.Question.QuestionID }}" class="title">

                                    <h3>{{ $question.Question.QuestionTitle }}
                                        <!-- <i class="layui-icon layui-icon-fire"></i>
                                                <i class="layui-icon layui-icon-snowflake"></i> -->
                                    </h3>
                                </a>
                            </div>

                            {{ if gt ($question.Answers | len) 0 }}
                            <div class="answer-conclusion">
                                <div class="answer-info">
                                    <span><strong>{{(index $question.Answers 0).AnswerUserName}}</strong> ·
                                        {{ (index $question.Answers 0).AnswerUpdateTime | human_time }} 贡献</span>
                                    <span class="label label-warning">标准答案</span>
                                    <span
                                        class="label label-warning">{{ (index $question.Answers 0).AnswerViewCount }}阅读</span>
                                    <span
                                        class="label label-warning">{{ (index $question.Answers 0).AnswerLikeCount }}赞同</span>
                                </div>
                                <blockquote>
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                        data-original-title="点我展开答案" aria-expanded="true"
                                        href="#answer{{ (index $question.Answers 0).AnswerId }}"
                                        aria-controls="answer{{ (index $question.Answers 0).AnswerId }}">
                                        <div class="alert alert-info" data-toggle="tooltip" data-placement="right"
                                            role="alert">
                                            <strong>先说结论: </strong>
                                            {{ or (index $question.Answers 0).AnswerConclusion "没写结论，直接看答案" }}
                                        </div>
                                    </a>
                                </blockquote>
                            </div>
                            <div id="answer{{ (index $question.Answers 0).AnswerId }}"
                                class="panel-collapse collapse answer-content" role="tabpanel"
                                aria-labelledby="headingOne">
                                <hr>
                                {{ (index $question.Answers 0).AnswerContent | str2html }}
                            </div>
                            {{ else }}
                            <div class="answer-info"><span>还没有答案 </span><button class="btn btn-default">我来回答</button>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                    <div class="news-list-item clearfix">
                        <div class="row question">
                            {{ template "no1jks/common/page.html" . }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 side">
                <div class="side-bar">
                    Coming soon
                </div>
            </div>
        </div>
    </div>
    {{ template "no1jks/common/footer.html" .}}
</body>
<script>
    $(function () {
        $('[data-toggle="collapse"]').tooltip()
    })
</script>

</html>