<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>健康管理师考试</title>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/exam.css" rel='stylesheet' type='text/css' />
</head>

<body>
    <!-- 菜单 -->
    {{template "no1jks/common/navi.html" .}}
    <!------ Include the above in your HEAD tag ---------->

    <div class="container-fluid">
        <div class="row">
            <div id="timeline">
                <div class="row timeline-movement timeline-movement-top">
                    <div class="timeline-badge timeline-future-movement">
                        <p>2018</p>
                    </div>
                </div>
                <div class="row timeline-movement">
                    <div class="timeline-badge center-left">

                    </div>
                    <div class="col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="timeline-panel credits  anim animate fadeInLeft">
                                    <ul class="timeline-panel-ul">
                                        <div class="lefting-wrap">
                                            <li class="img-wraping"><a href="#"><img
                                                        src="http://via.placeholder.com/250/000000"
                                                        class="img-responsive" alt="user-image" /></a></li>
                                        </div>
                                        <div class="righting-wrap">
                                            <li><a href="#" class="importo">Mussum ipsum cacilds</a></li>
                                            <li><span class="causale" style="color:#000; font-weight: 600;">Developer
                                                </span> </li>
                                            <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. </span> </li>
                                            <li>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                                        13/01/2018, 13:05"</small></p>
                                            </li>
                                        </div>
                                        <div class="clear"></div>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row timeline-movement">
                    <div class="timeline-badge center-right">

                    </div>
                    <div class="offset-sm-6 col-sm-6  timeline-item">
                        <div class="row">
                            <div class="offset-sm-1 col-sm-11">
                                <div class="timeline-panel debits  anim animate  fadeInRight">
                                    <ul class="timeline-panel-ul">
                                        <div class="lefting-wrap">
                                            <li class="img-wraping"><a href="#"><img
                                                        src="http://via.placeholder.com/250/000000"
                                                        class="img-responsive" alt="user-image" /></a></li>
                                        </div>
                                        <div class="righting-wrap">
                                            <li><a href="#" class="importo">Mussum ipsum cacilds</a></li>
                                            <li><span class="causale" style="color:#000; font-weight: 600;">Web Designer
                                                </span> </li>
                                            <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. </span> </li>
                                            <li>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                                        12/01/2018, 13:05"</small></p>
                                            </li>
                                        </div>
                                        <div class="clear"></div>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row timeline-movement">
                    <div class="timeline-badge center-left">

                    </div>
                    <div class="col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="timeline-panel credits  anim animate  fadeInLeft">
                                    <ul class="timeline-panel-ul">
                                        <div class="lefting-wrap">
                                            <li class="img-wraping"><a href="#"><img
                                                        src="http://via.placeholder.com/250/000000"
                                                        class="img-responsive" alt="user-image" /></a></li>
                                        </div>
                                        <div class="righting-wrap">
                                            <li><a href="#" class="importo">Mussum ipsum cacilds</a></li>
                                            <li><span class="causale" style="color:#000; font-weight: 600;">Engineer
                                                </span> </li>
                                            <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. </span> </li>
                                            <li>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                                        11/01/2018, 13:05"</small></p>
                                            </li>
                                        </div>
                                        <div class="clear"></div>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row timeline-movement timeline-movement-top">
                    <div class="timeline-badge timeline-future-movement">
                        <p>2017</p>
                    </div>
                </div>


                <div class="row timeline-movement">
                    <div class="timeline-badge center-right">

                    </div>
                    <div class="offset-sm-6 col-sm-6  timeline-item">
                        <div class="row">
                            <div class="offset-sm-1 col-sm-11">
                                <div class="timeline-panel debits  anim animate  fadeInRight">
                                    <ul class="timeline-panel-ul">
                                        <div class="lefting-wrap">
                                            <li class="img-wraping"><a href="#"><img
                                                        src="http://via.placeholder.com/250/000000"
                                                        class="img-responsive" alt="user-image" /></a></li>
                                        </div>
                                        <div class="righting-wrap">
                                            <li><a href="#" class="importo">Mussum ipsum cacilds</a></li>
                                            <li><span class="causale" style="color:#000; font-weight: 600;">Web Designer
                                                </span> </li>
                                            <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. </span> </li>
                                            <li>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                                        12/01/2018, 13:05"</small></p>
                                            </li>
                                        </div>
                                        <div class="clear"></div>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row timeline-movement">
                    <div class="timeline-badge center-left">

                    </div>
                    <div class="col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="timeline-panel credits  anim animate  fadeInLeft">
                                    <ul class="timeline-panel-ul">
                                        <div class="lefting-wrap">
                                            <li class="img-wraping"><a href="#"><img
                                                        src="http://via.placeholder.com/250/000000"
                                                        class="img-responsive" alt="user-image" /></a></li>
                                        </div>
                                        <div class="righting-wrap">
                                            <li><a href="#" class="importo">Mussum ipsum cacilds</a></li>
                                            <li><span class="causale" style="color:#000; font-weight: 600;">Engineer
                                                </span> </li>
                                            <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. </span> </li>
                                            <li>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                                        11/01/2018, 13:05"</small></p>
                                            </li>
                                        </div>
                                        <div class="clear"></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        /**********************Scroll Animation "START"************************************/
        $(document).ready(function () {
            var $animation_elements = $('.anim');
            var $window = $(window);

            function check_if_in_view() {
                var window_height = $window.height();
                var window_top_position = $window.scrollTop();
                var window_bottom_position = (window_top_position + window_height);

                $.each($animation_elements, function () {
                    var $element = $(this);
                    var element_height = $element.outerHeight();
                    var element_top_position = $element.offset().top;
                    var element_bottom_position = (element_top_position + element_height);

                    //check to see if this current container is within viewport
                    if ((element_bottom_position >= window_top_position) &&
                        (element_top_position <= window_bottom_position)) {
                        $element.addClass('animated');
                    } else {
                        $element.removeClass('animated');
                    }
                });
            }

            $window.on('scroll resize', check_if_in_view);
            $window.trigger('scroll');
        });
        /**********************Scroll Animation "END"************************************/

        /**********************Change color of center aligned animated content small Circle  "START"************************************/
        $(document).ready(function () {
            $(" .debits").hover(function () {
                $(" .center-right").css("background-color", "#4997cd");
            }, function () {
                $(" .center-right").css("background-color", "#fff");
            });
        });
        $(document).ready(function () {
            $(".credits").hover(function () {
                $(".center-left").css("background-color", "#4997cd");
            }, function () {
                $(".center-left").css("background-color", "#fff");
            });
        });
/**********************Change color of center aligned animated content small Circle  "END"************************************/
    </script>
</body>