<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>健康管理师头条</title>
    <link rel="stylesheet" href="/static/css/login.css">

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />

    <link rel="stylesheet" type="text/css" href="/static/css/news.css">
</head>

<body>
    <!-- 菜单 -->
    {{template "no1jks/common/navi.html" .}}

    <div class="container">
        <div class="row main-content">
            <!--用来抵消，下面栅格的内部，跟标题保持一样的样式-->
            <div class="col-md-8 news-list">
                {{ range $index, $news :=  .News.NewsList }}
                <div class="news-list-item clearfix">
                    <!--一定要清除浮动，不然排版不规范-->

                    <div class="col-xs-3">
                        <a href="/news/{{ $news.ID }}">
                            <img src="/static/imgs/qiaobiluo.jpeg" style="" alt="{{ $news.Title }}">
                        </a>
                    </div>

                    <div class="col-xs-9">
                        <!-- Perfect when len(title) <= 40 -->
                        <a href="/news/{{ $news.ID }}" class="title">{{ $news.Title }}</a>
                        <div class="info">
                            <span>{{ $news.SourceName }}</span>
                            <span>{{ $news.CreateAt | human_time }}</span>
                            <span class="label label-warning">{{ $news.ViewCount }}阅读</span>
                            <span class="label label-warning">{{ $news.CommentCount }}评论</span>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ template "no1jks/common/page.html" . }}
            </div>
            <div class="col-md-4 side">
                <div class="side-bar">
                    Coming soon
                </div>
            </div>
        </div>
    </div>

    {{ template "no1jks/common/footer.html" .}}
</body>

</html>