<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>健康管理师头条</title>

    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />

</head>

<style>
    .main-content {
        background-color: white;
    }
</style>

<body>
    <!-- 菜单 -->
    {{template "no1jks/common/navi.html" .}}

    <div class="container">
        <div class="row main-content">
            <div class="col-md-8 news-list">
                <h3>亲，如果你没有信心，不知从何下手</h3>
                <p>联系我吧</p>
                <p>2019年，我们的课程帮助<span style="color: red;">92.3%</span>的学员通过了考试</p>
            </div>
            <div class="col-md-4 side">
                <div class="side-bar">

                </div>
            </div>
        </div>
    </div>

    {{ template "no1jks/common/footer.html" .}}
</body>